<div class="blogPost card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-blogPost-form" class="card-body">
    <input type="hidden" name="blogPost-id" value="{{blogPost.id}}" />
    <label class="form-label" for="blogPost-title">Title</label>
    <input type="text" name="blogPost-title" value="{{blogPost.title}}" class="form-input" />
    <label class="form-label" for="blogPost-body">Content</label>
    <textarea name="blogPost-body" class="form-input">{{blogPost.body}}</textarea>
    <button type="submit" class="btn">Update</button>
    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>
<script src="/js/edit.js"></script>