<div class="blogPost card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form id="new-blogPost-form" class="card-body">
    <div class="mb-3">
      <label for="blogPost-title" class="form-label">Title</label>
      <input type="text" name="blogPost-title" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="blogPost-body" class="form-label">Content</label>
      <textarea name="blogPost-body" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
<script src="/js/newBlogPost.js"></script>
